{{ define "main" }}

	<header class="mt-O pt-0">
		<div class="container-fluid">
			<div class="block-hero">
				<h2 class="text-center mx-auto">Artwork that helps your brand<br> make a killer first impression.</h2>
			</div>
		</div>
	</header>

	<div class="mt-O pt-0 mb-5">
		<div class="row no-gutters">
			<div class="col-12 col-sm-8 col-md-6">
				<img src="/img/paper-01.jpg" alt="">
			</div>
			<div class="col-sm-4 col-md-3 d-none d-sm-block">
				<img src="/img/paper-02.jpg" alt="">
			</div>
			<div class="col col-md-3 d-none d-md-block">
				<img src="/img/paper-03.jpg" alt="">
			</div>
		</div>
	</div>

	<section>
		<div class="container-fluid">
			<h3 class="text-center my-5">Paper is really cool <br>and will make you a millionaire!</h3>

			<div id="speech-bubble-1" class="bg-primary text-white" style='-webkit-mask: url({{"img/speechbubble.png" | absURL }}); -webkit-mask-repeat: no-repeat; -webkit-mask-size: contain; -webkit-mask-position: top center; height: 125px;'>
				<div>
					<p>
						Sure, <br>it's&nbsp;fun...
					</p>
				</div>
			</div>
			<div id="speech-bubble-2" class="bg-secondary mb-5" style='-webkit-mask: url({{"img/speechbubble2.png" | absURL }}); -webkit-mask-repeat: no-repeat; -webkit-mask-size: contain; -webkit-mask-position: top center; height: 220px;'>
				<div>
					<p>
						But... <br>
						<span>Why should I use handmade artwork for my brand?</span>
					</p>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-6 col-md-4 mb-5">
					<img src="/img/icon_blobbycircle.svg" alt="icon" class="mb-3" width="20">
					<h4>Stand out!</h4>
					<p>It's a unique and personalized way to captivate your customers' interests, and&nbsp;grab their attention.</p>
				</div>

				<div class="col-12 col-sm-6 col-md-4 mb-5">
					<img src="/img/icon_square-2.svg" alt="icon" class="mb-3" width="23">
					<h4>Be remembered!</h4>
					<p>A warm and personal touch is&nbsp;key to being remembered by consumers or potential clients.</p>
				</div>

				<div class="col-12 col-sm-6 col-md-4 mb-5">
					<img src="/img/icon_triangle.svg" alt="icon" class="mb-3" width="19">
					<h4>Make people smile!</h4>
					<p>Connect with your customers’ emotions. Help people decide with their hearts.</p>
				</div>
			</div>
		</div>
	</section>

	<div class="container my-5 d-none">
		<div class="row">
			<div class="col-6 mx-auto d-flex align-items-center justify-content-center" style="height: 60vh">
				<h3 class="text-center">Catchphrase!</h3>
			</div>
		</div>
	</div>

	<section class="container">
		<div class="row">
			<div class="col-12">
				<img src="/img/work_paper-totem.jpg" alt="">
			</div>
		</div>
	</section>

	<section class="container">
		<div class="row">
			<div class="col-12 col-lg-10 col-xl-8 mx-auto d-flex align-items-center justify-content-center flex-column">
				<h3 class="text-center mb-5">We can do so much.</h3>

				<div id="services" class="row">
					<div class="col-6 col-sm-4 my-3 text-center">
						<img src="/img/work_paper_icon-paper-thing.svg" class="mb-2" width="50" alt="">
						<p class="lead">Online assets</p>
					</div> <!-- /col -->
					
					<div class="col-6 col-sm-4 my-3 text-center">
						<img src="/img/work_paper_icon-setdesign.svg" class="mb-2" width="50" alt="">
						<p class="lead">Set Design</p>
					</div> <!-- /col -->
					
					<div class="col-6 col-sm-4 my-3 text-center">
						<img src="/img/work_paper_icon-photoshoot.svg" class="mb-2" width="50" alt="">
						<p class="lead">Marketing assets</p>
					</div> <!-- /col -->
					
					<div class="col-6 col-sm-4 my-3 text-center">
						<img src="/img/work_paper_icon-window-display.svg" class="mb-2" width="50" alt="">
						<p class="lead">Window displays</p>
					</div> <!-- /col -->
					
					<div class="col-6 col-sm-4 my-3 text-center">
						<img src="/img/work_paper_icon-window-display.svg" class="mb-2" width="50" alt="">
						<p class="lead">Editorial visuals</p>
					</div> <!-- /col -->
					
					<div class="col-6 col-sm-4 my-3 text-center">
						<img src="/img/work_paper_icon-window-display.svg" class="mb-2" width="50" alt="">
						<p class="lead">Product advertisement</p>
					</div> <!-- /col -->
				</div> <!-- /row -->
			</div>
		</div>
	</section> <!-- /container -->

	<section>
		<div class="row no-gutters">
			<div class="col-12 col-md-6">
				<img src="/img/work_paper-022-crop.jpg" alt="Paper dog" class="d-md-none">
				<img src="/img/work_paper-022.jpg" alt="Paper dog" class="d-none d-md-block">
			</div>
			<div class="col-12 col-md-6 p-5 bg-dark d-flex align-items-center justify-content-center text-white">
				<div class="row">
					<div class="col-12 col-lg-10">
						<h4>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, est, velit, magnam vitae molestiae nemo voluptas commodi et tempore cumque.
						</h4>
						<a href="/get-in-touch" class="text-secondary"><span>Get in touch</span> <svg width="16" height="11" class="ml2 icon" viewBox="0 0 282 201" xmlns="http://www.w3.org/2000/svg"><path d="M171.07 24.652C165.368 18.9501 165.368 9.9735 171.07 4.2716C176.772 -1.23767 185.748 -1.23767 191.45 4.2716L276.863 89.6717C279.509 92.3172 281.14 95.99 281.14 100.061C281.14 104.132 279.509 107.805 276.863 110.463L191.45 195.863C185.748 201.565 176.772 201.565 171.07 195.863C165.368 190.161 165.368 181.185 171.07 175.483L232.224 114.534L15.1279 114.534C7.17867 114.547 0.860348 108.023 0.860347 100.074C0.860347 92.1246 7.17867 85.8062 15.1279 85.8062L232.211 85.8062L171.07 24.652Z" fill="#fff"/></svg></a>
					</div>
				</div>
			</div>
		</div> <!-- /row -->
	</section>

	<section class="bg-dark">
		<div class="container">
			<h2 class="text-center mb-5 text-white">Selected work</h2>

			<div class="row mt-5">
				<div class="col-12 col-sm-6 col-md-4 mb-4">
					<img src="/img/paper-1.jpg" alt="">
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 mb-4">
					<img src="/img/work_paper-001.jpg" alt="">
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 mb-4">
					<img src="/img/work_paper-002.jpg" alt="">
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 mb-4">
					<img src="/img/work_paper-016.jpg" alt="">
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 mb-4">
					<img src="/img/work_paper-022.jpg" alt="">
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 mb-4">
					<img src="/img/work_paper-017.jpg" alt="">
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 mb-4">
					<img src="/img/work_paper-totem_s1.jpg" alt="">
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 mb-4">
					<img src="/img/work_paper-totem_s2.jpg" alt="">
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 mb-4">
					<img src="/img/work_paper-totem_s3.jpg" alt="">
				</div>
			</div> <!-- /row -->
		</div> <!-- /col -->
	</section>

	<section class="container">
		<div class="row flex-column-reverse flex-md-row">
			<div class="col-8 mx-auto col-md-5">
				<img src="/img/apple.png" alt="Paper apple">
			</div>

			<div class="col-12 col-md-6 mx-auto d-flex align-items-center flex-column justify-content-center p-5">
				<h3 class="text-center">Interested?<br>Let's get in touch!</h3>
				<a href="/get-in-touch" class="btn-primary-dark">Get in touch <svg width="16" height="11" class="ml2 icon" viewBox="0 0 282 201" xmlns="http://www.w3.org/2000/svg"><path d="M171.07 24.652C165.368 18.9501 165.368 9.9735 171.07 4.2716C176.772 -1.23767 185.748 -1.23767 191.45 4.2716L276.863 89.6717C279.509 92.3172 281.14 95.99 281.14 100.061C281.14 104.132 279.509 107.805 276.863 110.463L191.45 195.863C185.748 201.565 176.772 201.565 171.07 195.863C165.368 190.161 165.368 181.185 171.07 175.483L232.224 114.534L15.1279 114.534C7.17867 114.547 0.860348 108.023 0.860347 100.074C0.860347 92.1246 7.17867 85.8062 15.1279 85.8062L232.211 85.8062L171.07 24.652Z" fill="#fff"/></svg></a>
			</div>
		</div>
	</section>

	<section class="related bg-dark">
		<div class="container-fluid">
			<h2 class="text-center text-white mb-5">Dirty Lemon also does...</h2>
	
			<div class="row">
				{{ $pages := (where (where .Site.RegularPages "Section" "work") "Title" "!=" .Title ) }}
				{{ range $pages }}
				<div class="col-12 col-sm-6 col-xl-4 w-project">
					<div class="position-relative">
						<a href="{{.Permalink}}"><img src="{{ .Params.thumbnailsmall }}" alt="{{ .Title }}"></a>

						<div class="w-project-name">
							<h4>{{ .Title }}</h4>
							<a href="{{.Permalink}}" class="text-secondary"><span>Read more</span> <svg width="16" height="11" class="ml2 icon" viewBox="0 0 282 201" xmlns="http://www.w3.org/2000/svg"><path d="M171.07 24.652C165.368 18.9501 165.368 9.9735 171.07 4.2716C176.772 -1.23767 185.748 -1.23767 191.45 4.2716L276.863 89.6717C279.509 92.3172 281.14 95.99 281.14 100.061C281.14 104.132 279.509 107.805 276.863 110.463L191.45 195.863C185.748 201.565 176.772 201.565 171.07 195.863C165.368 190.161 165.368 181.185 171.07 175.483L232.224 114.534L15.1279 114.534C7.17867 114.547 0.860348 108.023 0.860347 100.074C0.860347 92.1246 7.17867 85.8062 15.1279 85.8062L232.211 85.8062L171.07 24.652Z" fill="#fff"/></svg></a>
						</div>
					</div>
				</div> <!-- /col -->
				{{ end }}
			</div> <!-- /row -->
		</div>
	</section>

	<div class="container">
	<section>
		<ul>
			{{ range .Pages }}
			<li>
				<a href="#{{ .Params.slug }}"><span>{{ .Title }}</span></a>
			</li>
			{{ end }}
		</ul>

		{{ range .Pages }}
		<div>
			<h3>{{.Title}}</h3>
			<p>
				{{ .Content }}
			</p>
		</div>
		{{ end }}
	</section>
</div> <!-- /container -->

{{ end }}
