{{-  define "main" -}}

<header class="mt-O bg-dark">
	<div class="container">
		<div class="hero_large">
			{{- $image := .Resources.GetMatch "project-title_*" -}}
			{{- with $image -}}
			<div class="row">
				<div class="col-12 col-sm-9 mx-auto">
					<img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ .Params.header.h1 }}">
				</div>
			</div>
			{{- else -}}
			<h2 class="text-center mx-auto">{{ (replace .Params.title "\n" "<br>") | safeHTML }}</h2>
			{{- end -}}
		</div>
	</div> <!-- /container -->
</header>

{{- if isset .Params "block_project" -}}
<section class="selected-work"{{ if isset .Params.block_project "bgcolor" }} style="background-color: {{ .Params.block_project.bgcolor }}"{{ else }} style="background-color: #f1f1f7;"{{ end }}>
	<div class="container-fluid">
		{{- if isset .Params.block_project "description" -}}
		<p class="title-3 text-center"{{ if isset .Params.block_project "fontcolor" }} style="color: {{ .Params.block_project.fontcolor }}"{{ end }}>
			{{- (replace .Params.block_project.description "\n" "<br>") | safeHTML -}}
		</p>
		{{- end -}}

		<div class="row mt-5">
			<div class="col-12">
				<div class="gallery-grid-container">
					{{- $title := print .Page.Title " | " .Site.Title -}}
					{{- range .Params.block_project.work -}}
					<div class="gallery-grid-item {{ .class }}">
						{{- if .video -}}
						<video width="2000" height="1000" style="max-width: 100%;" autoplay loop>
							<source src="{{ .path }}.webm" type="video/webm">
							Your browser does not support the video tag.
						</video> 
						{{- else if .text -}}
						<p>
							{{- .content -}}
						</p>
						{{- else if .path -}}
						<img src="{{ .path }}" class="mb-2" alt="{{ $title }}">
						{{- end -}}
					</div>
					{{- end -}}
				</div>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</section>
<div class="bg_dark" style='-webkit-mask: url({{ "css/assets/bgbottom.png" | absURL  }}); -webkit-mask-repeat: repeat-x; -webkit-mask-size: cover;-webkit-mask-position: bottom center; height: 100px;{{ if isset .Params.block_project "bgcolor" }} background-color: {{ .Params.block_project.bgcolor }}{{ else }} background-color: #f1f1f7;{{ end }}'></div>
{{- end -}}

{{- partial "related.html" . -}}

{{- end -}}