{{ define "main" }}

<header class="mt-O">
	<div class="container">
		<div class="hero">
			<h2 class="text-center mx-auto">{{ (replace .Params.header.h1 "\n" "<br>") | safeHTML }}</h2>
		</div>
	</div> <!-- /container -->
</header>

{{ if isset .Params "block_double" }}
 <section>
	<div class="row no-gutters">
		<div class="col-12 col-lg-6">
			<img src="/img/work/{{ range .Params.block_double.img }}{{.cropped}}{{end}}" alt="{{ .Page.Title }} | {{ .Site.Title }}" class="d-lg-none">
			<img src="/img/work/{{ range .Params.block_double.img }}{{.uncropped}}{{end}}" alt="{{ .Page.Title }} | {{ .Site.Title }}" class="d-none d-lg-block">
		</div> <!-- /col -->

		<div class="col-12 col-lg-6 p-5 bg-dark d-flex align-items-center justify-content-center text-white">
			<div class="row">
				<div class="col-12 col-lg-10">
					<h3>{{ (replace .Params.block_double.text "\n" "<br>") | safeHTML }}</h3>
					<a href="/get-in-touch" class="text-secondary move"><span>Get in touch</span> <svg width="16" height="11" viewBox="0 0 282 201" xmlns="http://www.w3.org/2000/svg"><path d="M171.07 24.652C165.368 18.9501 165.368 9.9735 171.07 4.2716C176.772 -1.23767 185.748 -1.23767 191.45 4.2716L276.863 89.6717C279.509 92.3172 281.14 95.99 281.14 100.061C281.14 104.132 279.509 107.805 276.863 110.463L191.45 195.863C185.748 201.565 176.772 201.565 171.07 195.863C165.368 190.161 165.368 181.185 171.07 175.483L232.224 114.534L15.1279 114.534C7.17867 114.547 0.860348 108.023 0.860347 100.074C0.860347 92.1246 7.17867 85.8062 15.1279 85.8062L232.211 85.8062L171.07 24.652Z" fill="#fff"/></svg></a>
				</div> <!-- /col -->
			</div> <!-- /row -->
		</div> <!-- /col -->
	</div> <!-- /row -->
</section>
{{ end }}

{{ if isset .Params "block_selected" }}
<div style='-webkit-mask: url({{"img/bgtop.png" | absURL }}); -webkit-mask-repeat: repeat-x; -webkit-mask-size: cover; -webkit-mask-position: top center; height: 100px; background-color: {{ .Params.block_selected.bgcolor }}'>
</div>
<section class="selected-work" style="background-color: {{ .Params.block_selected.bgcolor }}">
	<div class="container">
		<h2 class="text-center text-white">{{ (replace .Params.block_selected.h2 "\n" "<br>") | safeHTML }}</h2>

		<div class="row mt-5 gallery-grid-container">
			{{ $title := print .Page.Title " | " .Site.Title }}
			{{ range .Params.block_selected.img }}
			<div class="gallery-grid-item {{ .class }}">
				{{ with .path }}
				<img src="/img/work/{{ . }}" class="mb-2" alt="{{ $title }}">
				{{ end }}
			</div>
			{{ end }}
		</div> <!-- /row -->
	</div> <!-- /container -->
</section>
<div style='-webkit-mask: url({{"img/bgbottom.png" | absURL }}); -webkit-mask-repeat: repeat-x; -webkit-mask-size: cover;-webkit-mask-position: bottom center; height: 100px; background-color: {{ .Params.block_selected.bgcolor }}'>
</div>
{{ end }}

<section class="container">
	<div class="row flex-column flex-md-row">
		<div class="col-8 col-md-5 mb-3 mx-auto">
			<img src="/img/apple.png" alt="{{ .Page.Title }} | {{ .Site.Title }}">
		</div> <!-- /col -->

		<div class="col-12 col-md-6 mx-auto d-flex align-items-center flex-column justify-content-center p-md-5">
			<h2 class="text-center">{{ (replace .Params.block_interested.title "\n" "<br>") | safeHTML }}</h2>
			<a href="/get-in-touch" class="btn-primary-dark move">Get in touch <svg width="16" height="11" class="ml2 icon" viewBox="0 0 282 201" xmlns="http://www.w3.org/2000/svg"><path d="M171.07 24.652C165.368 18.9501 165.368 9.9735 171.07 4.2716C176.772 -1.23767 185.748 -1.23767 191.45 4.2716L276.863 89.6717C279.509 92.3172 281.14 95.99 281.14 100.061C281.14 104.132 279.509 107.805 276.863 110.463L191.45 195.863C185.748 201.565 176.772 201.565 171.07 195.863C165.368 190.161 165.368 181.185 171.07 175.483L232.224 114.534L15.1279 114.534C7.17867 114.547 0.860348 108.023 0.860347 100.074C0.860347 92.1246 7.17867 85.8062 15.1279 85.8062L232.211 85.8062L171.07 24.652Z" fill="#fff"/></svg></a>
		</div> <!-- /col -->
	</div> <!-- /row -->
</section> <!-- /container -->

<section class="related bg-dark d-none">
	<div class="container-fluid">
		<h3 class="text-center text-white mb-5">Dirty Lemon also does...</h3>
		<div class="row">
			{{ $pages := (where (where .Site.RegularPages "Section" "work") "Title" "!=" .Title ) }}
			{{ range $pages }}
			<div class="col-12 col-sm-6 col-xl-4 w-project">
				<div class="position-relative">
					<a href="{{.Permalink}}"><img src="/img/work/{{ range .Params.thumbnails }}{{ .small }}{{ end }}" width="600" height="375" alt="{{ .Page.Title }} | {{ .Site.Title }}"></a>

					<div class="w-project-name">
						<h4>{{ .Title }}</h4>
						<a href="{{.Permalink}}" class="text-secondary"><span>Read more</span> <svg width="16" height="11" class="ml2 icon" viewBox="0 0 282 201" xmlns="http://www.w3.org/2000/svg"><path d="M171.07 24.652C165.368 18.9501 165.368 9.9735 171.07 4.2716C176.772 -1.23767 185.748 -1.23767 191.45 4.2716L276.863 89.6717C279.509 92.3172 281.14 95.99 281.14 100.061C281.14 104.132 279.509 107.805 276.863 110.463L191.45 195.863C185.748 201.565 176.772 201.565 171.07 195.863C165.368 190.161 165.368 181.185 171.07 175.483L232.224 114.534L15.1279 114.534C7.17867 114.547 0.860348 108.023 0.860347 100.074C0.860347 92.1246 7.17867 85.8062 15.1279 85.8062L232.211 85.8062L171.07 24.652Z" fill="#fff"/></svg></a>
					</div>
				</div>
			</div> <!-- /col -->
			{{ end }}
		</div> <!-- /row -->
	</div> <!-- /container -->
</section>
{{ end }}