{{ define "main" }}
<header class="mt-O bg-dark">
	<div class="container">
		<div class="hero_large">
			{{ if isset .Params.header "titleimage" }}
			<img src="/img/work/{{ .Params.header.titleimage }}" alt="{{ .Params.header.h1 }}">
			{{ else }}
			<h2 class="text-center mx-auto">{{ (replace .Params.title "\n" "<br>") | safeHTML }}</h2>
			{{ end }}
		</div>
	</div> <!-- /container -->
</header>

{{ if isset .Params "block_selected" }}
<section class="selected-work"{{ if isset .Params.block_selected "bgcolor" }} style="background-color: {{ .Params.block_selected.bgcolor }}"{{ else }} style="background-color: #f1f1f7;"{{ end }}>
	<div class="container-fluid">
		{{ if isset .Params.block_selected "description" }}
		<p class="title-3 text-center"{{ if isset .Params.block_selected "fontcolor" }} style="color: {{ .Params.block_selected.fontcolor }}"{{ end }}>
			{{ (replace .Params.block_selected.description "\n" "<br>") | safeHTML }}
		</p>
		{{ end }}

		<div class="row mt-5">
			<div class="col-12">
				<div class="gallery-grid-container">
					{{ $title := print .Page.Title " | " .Site.Title }}
					{{ range .Params.block_selected.img }}
					<div class="gallery-grid-item {{ .class }}">
						{{ with .path }}
						<img src="/img/work/{{ . }}" class="mb-2" alt="{{ $title }}">
						{{ end }}
					</div>
					{{ end }}
				</div>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</section>
<div style='-webkit-mask: url({{"img/bgbottom.png" | absURL }}); -webkit-mask-repeat: repeat-x; -webkit-mask-size: cover;-webkit-mask-position: bottom center; height: 100px;{{ if isset .Params.block_selected "bgcolor" }} background-color: {{ .Params.block_selected.bgcolor }}{{ else }} background-color: #f1f1f7;{{ end }}'>
</div>
{{ end }}

{{ partial "related.html" . }}

{{ end }}