<!doctype html>
<html lang="en" class="sr">
{{- partial "head.html" . -}}
<body class="{{ .Section }}{{ if isset .Params "extraclass" }} {{ .Params.extraclass }}{{ end }}{{ if isset .Params "slug" }} {{ index .Params "slug" }}{{ end }}" data-spy="scroll" data-target=".spyscroll" data-offset="450">
	<div id="all">
	<div id="sidebar">
		{{- partial "sidebar.html" . -}}
	</div>
	<main id="main">
		{{- partial "nav.html" . -}}

		{{- block "main" . -}}{{- end -}}

		{{- partial "footer.html" . -}}
	</main>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<!-- <script src="{{"/js/jquery-3.5.1.slim.min.js" | absURL }}" crossorigin="anonymous"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

<script>
	document.body.className += ' js'; // adds a .js class only if javascript is enabled
</script>
<script src="{{"/js/main.js" | absURL }}"></script>
<script src="{{"/js/swaptext.js" | absURL }}"></script>
</body>
</html>