<!doctype html>
<html lang="en" class="sr">
{{ partial "head.html" . }}
<body class="{{ .Section }}{{ if isset .Params "extraclass" }} {{ .Params.extraclass }}{{ end }}{{ if isset .Params "slug" }} {{ index .Params "slug" }}{{ end }}" data-spy="scroll" data-target=".spyscroll" data-offset="450">

<div id="myNav" class="nav_overlay">
		{{- partial "menu.html" . -}}
</div>

<div id="all">
	<div id="sidebar">
		{{ partial "sidebar.html" . }}
	</div>
	<main id="main">
		{{ partial "nav.html" . }}

		{{- block "main" . -}}{{- end -}}

		{{- partial "footer.html" . -}}
	</main>
</div>

<script src="/js/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/in-view.js"></script>

<script>
function openNav() {
  document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}

$(document).keyup(function(e) {
     if (e.keyCode == 27) {
       document.getElementById("myNav").style.width = "0%";
    }
});
</script>

<script>
	// btn = document.getElementById("top-btn");

	// window.onscroll = function() {scrollFunction()};

	// function scrollFunction() {
	//   if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
	//     btn.style.display = "inline-flex";
	//   } else {
	//     btn.style.display = "none";
	//   }
	// }

	// function topFunction() {
	//   document.body.scrollTop = 0; // For Safari
	//   document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
	// } 

	document.body.className += ' js';
</script>
<script src="/js/main.js"></script>
<script src="/js/swaptext.js"></script>
</body>
</html>