// color system
$primary:   #6562FF;
$secondary: #FFC107;
$tertiary:  #FF5C00;
$green:     #96FFE7;
$light:     #f1f6f9;
$dark:      #000;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "_fonts.sass";

// fonts
$font-family-sans-serif:     'Roboto Mono', Courier, monospace !important;

// layout
@import "_utilities.sass";
@import "_basics.sass";
@import "_nav.sass";
@import "_related.sass";
@import "_contact-form.sass";
 
// pages
@import "_home.sass";
@import "_work.sass";
@import "_about.sass";
@import "_get-in-touch.sass";