{{ define "main" }}
<header class="mt-O bg-dark">
	<div class="container-fluid">
		<div class="hero_large">
			<h2 class="text-center mx-auto">{{ .Params.title }}</h2>
		</div>
	</div> <!-- /container -->
</header>

<section id="about" class="bg_white">
	<div class="container-fluid">
		<div class="row mb-4 mb-md-5">
			<div class="col-12 col-md-3 sr-down cat">
				<p class="label mg">About</p>
			</div> <!-- /col -->

			<div class="col-12 col-md-7">
				<h2 class="sr-down mb-4">Hey there 👋</h2>
				<div class="row flex-column flex-sm-row no-gutters">
					{{ if $image := resources.GetMatch "img/laurasinclair.jpg" }}
					<div class="col-12 col-xl-3">
						<div style="background-image: url('{{ $image.Permalink | absURL }}'); {{ if $image := resources.GetMatch "img/mask01.png" }}-webkit-mask: url('{{ $image.Permalink | absURL }}'); -webkit-mask-repeat: repeat-x; -webkit-mask-size: contain;-webkit-mask-position: top center;{{ end }} width: 220px; height: 220px;" class="pic mb-3">
							&nbsp; 
						</div>
					</div> <!-- /col -->
					{{ end }}

					<div class="col-12 col-xl-9 d-flex justify-content-center flex-column pl-xl-4">
						<p>
							I'm a digital illustrator and visual designer based in Berlin, Germany. 
							I currently work as a Visual Designer at&nbsp;<a href="https://www.raisenow.com/en/" target="_blank">RaiseNow</a>.
						</p>
						<p>
							I'm drawn to eye-popping colours, fantastical creatures, and fluffy things. Maybe you've noticed?
						</p>
						<p>
							"You need a website", says everyone who has seen my work. So here it is: my website. Why does it exist? It exists because I want to get to know you and for you to get to know me.
						</p>
						<p>
							You'll notice I've created a menagerie of worldly and otherworldy beings, and I want to set them free into the world. So get in touch if you want to befriend them — they don't bite!
						</p>
						<p>
							Cheers, Laura
						</p>

						{{ partial "social.html" . }}
					</div> <!-- /col -->
				</div> <!-- /row -->
			</div> <!-- /col -->
		</div> <!-- /row -->

		<div class="row">
			<div class="col-12 col-lg-7 mx-auto text-center">
				<figure class="mt-5 mb-0">
					<img src="{{ "work/illustration/fruit-feast/illustration_fruit-feast-02.png" | absURL }}" alt="{{ .Site.Title }}" width="800">
				</figure>
			</div> <!-- /col -->
		</div> <!-- /row -->
	</div> <!-- /container -->
</section>
{{ end }}