{{ define "main" }}
<section class="container">
	<div class="row mb-3">
		<header class="col col-lg-7 mx-auto">
			<div class="my-1 mt-sm-3 srSlideUp">
				<h2 class="text-md-center mb-3">Hey there 👋</h2>
				<p class="lead text-md-center">
					I'm a designer and illustrator from <a href="http://goo.gl/Az4mq3" target="_blank">Angers</a>, France. <br>
					Now I live in Berlin, and absolutely love it.
				</p>
				<p class="text-md-center">
					I've tried to steer this website away from bullshit.<br>
					So here are a few things that I think are nice.
				</p>
				<p class="text-md-center">
					If you want to have a chat, <a href="mailto:{{ .Site.Params.email }}">let's get in touch</a>!
				</p>
			</div>
		</header> <!-- /col -->
	</div> <!-- /row -->
	
	<div class="row mb-3 mb-md-5">
		<div class="col-12 col-sm-6 col-md-3 mb-3 srSlideUp">
			<h2>🐲</h2> 
			<p>
				I'm fascinated by divinities and odd imaginary creatures, and their use in different cultures.
			</p>
		</div> <!-- /col -->
		<div class="col-12 col-sm-6 col-md-3 mb-3 srSlideUp">
			<h2>✏️</h2> 
			<p>
				I've been drawing for as long as I can remember. People and monsters, always!
			</p>
		</div> <!-- /col-6 col-md-3 -->
		<div class="col-12 col-sm-6 col-md-3 mb-3 srSlideUp">
			<h2>💻</h2> 
			<p>
				I learned html and css at 10 or&nbsp;11 years old, from a HTML4 book. That's 1999!
			</p>
		</div> <!-- /col-6 col-md-3 -->
		<div class="col-12 col-sm-6 col-md-3 mb-3 srSlideUp">
			<h2>🌿</h2> 
			<p>
				PLANTS ARE GREAT.<br>
				I'm slowly turning into an old plant lady.
			</p>
		</div> <!-- /col-6 col-md-3 -->
	</div> <!-- /row -->
	
	<div class="row mb-3 mb-md-5">
		<div class="col-12 col-sm-6 col-md-3 mb-3 srSlideUp">
			<h2>⚙️</h2> 
			<p>
				Before I "solve a problem", I encourage everyone to wonder if there's even one.
			</p>
		</div> <!-- /col-6 col-md-3 -->
		<div class="col-12 col-sm-6 col-md-3 mb-3 srSlideUp">
			<h2>🤜</h2> 
			<p>
				I'm "direct but somehow always tactful and diplomatic", it seems.
			</p>
		</div> <!-- /col-6 col-md-3 -->
		<div class="col-12 col-sm-6 col-md-3 mb-3 srSlideUp">
			<h2>🛋</h2> 
			<p>
				I always move things around, to get rooms to <strong>feel</strong> better, more welcoming.
			</p>
		</div> <!-- /col-6 col-md-3 -->
		<div class="col-12 col-sm-6 col-md-3 mb-3 srSlideUp">
			<h2>🥞</h2> 
			<p>
				I do make amazing pancakes!
			</p>
		</div> <!-- /col -->
	</div> <!-- /row -->

	<div class="row mt-5">
		<div class="mt-3 mt-md-5 srSlideUp">
			<figure class="srSlideUp">
				<img src="{{ .Params.about_picture_sm }}" alt="Laura Sinclair" class="d-md-none">
				<img src="{{ .Params.about_picture_md }}" alt="Laura Sinclair" class="d-none d-md-block d-lg-none rounded">
				<img src="{{ .Params.about_picture_lg }}" alt="Laura Sinclair" class="d-none d-lg-block rounded">
			</figure>
		</div>
	</div> <!-- /row -->
</section>

{{ end }}
