<h3 class="text-center my-5">
	What can Dirty Lemon<br>
	do for you?
</h3>

<div class="row" style="position: relative;">
	<div class="col-6">
		<img src="img/lemon-f.jpg" style="width: 100%; position: sticky; top: 0;">
	</div>
	
	<div class="col-6 p-4 pr-5" style="height: 2000px">
		<div style="position: sticky; top: 0; display: flex; height: 100vh; align-items: flex-start; justify-content: center; flex-direction: column; padding-right: 2em; flex-wrap: wrap">
			<h3>Paper artwork</h3>
			<p>
				Mollitia excepturi quos, voluptatibus, perspi odio itaque numquam.
			</p>

			<div class="row px-5 my-5">
				<div class="col-4 px-1">
					<img src="/img/paper-1.jpg" alt="">
				</div>
				<div class="col-4 px-1">
					<img src="/img/paper-2.jpg" alt="">
				</div>
				<div class="col-4 px-1">
					<img src="/img/paper-3.jpg" alt="">
				</div>
			</div>
			<a href="#" class="btn-primary-dark">Read more</a>
		</div>
	</div>
</div>

<div class="row" style="position: relative;">
	<div class="col-6 p-4" style="height: 2000px">
		<div class="text-center p-5" style="position: sticky; top: 0; display: flex; height: 100vh; align-items: center; justify-content: center; flex-direction: column;">
			<h3>Illustration</h3>
			<p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

			<div class="row px-5 my-5">
				<div class="col-4 px-1">
					<img src="/img/paper-1.jpg" alt="">
				</div>
				<div class="col-4 px-1">
					<img src="/img/paper-2.jpg" alt="">
				</div>
				<div class="col-4 px-1">
					<img src="/img/paper-3.jpg" alt="">
				</div>
			</div>
			<a href="#" class="btn-primary-dark">Read more</a>
		</div>
	</div>
	<div class="col-6 p-5">
		<img src="img/work_illustration-005.png" style="width: 90%; position: sticky; top: 50px;">
	</div>
</div>

<div class="row" style="position: relative;">
	<div class="col-6">
		<img src="img/work_mural-002.jpg" style="width: 100%; position: sticky; top: 0;">
	</div>
	<div class="col-6 p-4" style="height: 2000px">
		<div class="text-center p-5" style="position: sticky; top: 0; display: flex; height: 100vh; align-items: center; justify-content: center; flex-direction: column;">
			<h3>Wall murals</h3>
			<p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

			<div class="row px-5 my-5">
				<div class="col-4 px-1">
					<img src="/img/paper-1.jpg" alt="">
				</div>
				<div class="col-4 px-1">
					<img src="/img/paper-2.jpg" alt="">
				</div>
				<div class="col-4 px-1">
					<img src="/img/paper-3.jpg" alt="">
				</div>
			</div>
			<a href="#" class="btn-primary-dark">Read more</a>
		</div>
	</div>
</div>