<section id="work" class="work">
	<div class="d-none">
		<h3 class="text-center my-5">What can Dirty Lemon<br>
		do for you?</h3>
	
		<div class="row" style="position: relative;">
			<div class="col-6">
				<img src="img/lemon-f.jpg" style="width: 100%; position: sticky; top: 0;">
			</div> <!-- /col -->

			<div class="col-6 p-4 pr-5" style="height: 2000px">
				<div class="text-center" style="position: sticky; top: 0; display: flex; height: 100vh; align-items: center; justify-content: center; flex-direction: column; padding-right: 2em">
					<p class="label">Services</p>
					<h3>Paper artwork</h3>
					<p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
					<p>
						Mollitia excepturi quos, voluptatibus, perspiciatis, molestias in quae est nihil nostrum nisi ratione voluptatum, aliquam rerum minus quas dolore odio itaque numquam.
					</p>
					<div class="row px-5 my-5">
						<div class="col-4 px-1">
							<img src="/img/paper-1.jpg" alt="">
						</div>
						<div class="col-4 px-1">
							<img src="/img/paper-2.jpg" alt="">
						</div>
						<div class="col-4 px-1">
							<img src="/img/paper-3.jpg" alt="">
						</div>
					</div>
					<a href="#" class="btn-primary-dark">Read more</a>
				</div>
			</div> <!-- /col -->
		</div> <!-- /row -->
	</div>

	<div class="container-fluid">
		<h2 class="mb-4 mb-md-5 sr-down text-center">Recent work</h2>
	</div>
	
	<div id="submenu" class="spyscroll navbar d-flex d-md-none">
		<a href="#paper-art" class="nav-link">paper</a>
		<a href="#illustration" class="nav-link">illustration</a>
		<a href="#wall-murals" class="nav-link">murals</a>
		<a href="#more" class="nav-link">more!</a>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="spyscroll col-12 col-md-3 d-flex justify-content-between flex-column">
				<div id="submenu-md" class="navbar d-none d-md-flex flex-md-column justify-content-between">
					<a href="#paper-art" class="nav-link">paper art</a>
					<a href="#illustration" class="nav-link">illustration</a>
					<a href="#wall-murals" class="nav-link">wall murals</a>
					<a href="#more" class="nav-link">more!</a>
				</div>
			</div> <!-- /col -->

			<div class="col-12 col-md-9">
				<div id="paper-art" class="work-section">
					<div class="text-left">
						<div class="row my-5">
							<div class="col-12 col-md-9">
								<h3>Paper artwork</h3>
								<p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
								<p>
									Mollitia excepturi quos, voluptatibus, perspiciatis, molestias in quae est nihil nostrum nisi ratione voluptatum, aliquam rerum minus quas dolore odio itaque numquam.
								</p>
							</div>
						</div>


					<div class="row">
						<div class="col-12 mb-4 mb-md-5">
							<img src="img/work_lemon-family_1-4.jpg" class="rounded" alt="paper art | ...">
						</div> <!-- /col -->
					</div> <!-- /row -->
					
						<div class="row my-5">
							<div class="col-4">
								<img src="/img/paper-1.jpg" alt="">
							</div>
							<div class="col-4">
								<img src="/img/paper-2.jpg" alt="">
							</div>
							<div class="col-4">
								<img src="/img/paper-3.jpg" alt="">
							</div>
						</div>

						<a href="#" class="btn-primary-dark">Read more</a>
					</div>
					
					<div class="row">
						<div class="col-12 col-md-9 mb-4 mb-md-5">
							<p class="lead">
								Lorem ipsum dolor sit amet consectetur adipisicing, elit.
							</p>
							<p>
								Harum nobis velit vitae minima sed soluta? Beatae, excepturi amet voluptate eligendi ut! Nemo, fugiat. Sed voluptas dicta dolorum nostrum nulla cupiditate!
							</p>

							<a href="#" class="btn-primary-dark">Aw. More info about paper -></a>
						</div> <!-- /col -->
					</div> <!-- /row -->
				</div><!-- /paper-art -->

				<hr>

				<div id="illustration" class="work-section">
					<div class="row">
						<div class="col-12 col-md-10 mx-auto mb-4 mb-md-5">
							<img src="img/work_illustration-005.png" class="w-md-75 d-block mx-auto" alt="Illustration | a girl eating strawberries">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-sm mb-4 mb-md-5">
							<picture>
								<source srcset="/img/work_illustration-019.webp" type="image/webp">
								<source srcset="/img/work_illustration-019.png" type="image/png">
								<img src="/img/work_illustration-019.png" alt="illustration | two girls having food - one is having beer, the other one is having potatoes" class="w-md-75 d-block mx-auto">
							</picture>
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-sm mb-4 mb-md-5">
							<img src="img/work_illustration-021.jpg" class="w-md-75 d-block mx-auto" alt="illustration | a girl who says she's HUNGRY">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-sm mb-4 mb-md-5">
							<picture>
								<source srcset="/img/work_illustration-002.webp" type="image/webp">
								<source srcset="/img/work_illustration-002.png" type="image/png">
								<img src="/img/work_illustration-002.png" alt="illustration | a well-dressed bird carrying a shovel with blood stains all over it, and a sandwich" class="w-md-75 d-block mx-auto">
							</picture>
						</div> <!-- /col -->
						<div class="col-12 col-sm mb-4 mb-md-5">
							<picture>
								<source srcset="/img/work_illustration-016.webp" type="image/webp">
								<source srcset="/img/work_illustration-016.png" type="image/png">
								<img src="/img/work_illustration-016.png" alt="illustration | a girl holding a mug, with a dog/goat next to her, and a bird on her shoulder" class="w-md-75 d-block mx-auto">
							</picture>
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-sm mb-4 mb-md-5">
							<img src="/img/work_illustration-011.jpg" alt="illustration | avatars for an app">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-sm mb-4 mb-md-5">
							<picture>
								<source srcset="/img/work_illustration-013.webp" type="image/webp">
								<source srcset="/img/work_illustration-013.png" type="image/png">
								<img src="/img/work_illustration-013.png" alt="illustration | a colourful creature holding a shovel" class="w-md-75 d-block mx-auto">
							</picture>
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-sm mb-4 mb-md-5">
							<img src="img/work_illustration-004.jpg" class="rounded" alt="illustration | a smiling girl typing on a laptop">
						</div> <!-- /col -->
						<div class="col-12 col-sm mb-4 mb-md-5">
							<img src="/img/work_illustration-010.jpg" class="w-md-75 d-block mx-auto" alt="illustration | a girl who looks AWWWWW about something">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-sm mb-4 mb-md-5">
							<img src="/img/work_bitsnbobs-010.jpg" class="w-md-75 d-block mx-auto" alt="illustration | 3 greyscale monsters, hand-drawn">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-sm-6 mb-4 mb-md-5">
							<picture>
								<source srcset="/img/work_illustration-020.webp" type="image/webp">
								<source srcset="/img/work_illustration-020.png" type="image/png">
								<img src="/img/work_illustration-020.png" alt="illustration | a girl with a blue body" class="w-md-75 d-block mx-auto">
							</picture>
						</div> <!-- /col -->
						<div class="col-12 col-sm-6 mb-4 mb-md-5 d-flex align-items-center">
							<picture>
								<source srcset="/img/work_illustration-001.webp" type="image/webp">
								<source srcset="/img/work_illustration-001.png" type="image/png">
								<img src="/img/work_illustration-001.png" alt="illustration | 3 green cats!" class="w-md-75 d-block mx-auto">
							</picture>
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-sm mb-4 mb-md-5">
							<picture>
								<source srcset="/img/work_illustration-003.webp" type="image/webp">
								<source srcset="/img/work_illustration-003.png" type="image/png">
								<img src="/img/work_illustration-003.png" alt="illustration | a lemon in a meeting" class="w-md-75 d-block mx-auto">
							</picture>
						</div> <!-- /col -->
					</div> <!-- /row -->
				</div><!-- /illustration -->

				<hr>

				<div id="wall-murals" class="work-section">
					<div class="row">
						<div class="col-12 col-sm mb-4 mb-md-5">
							<img src="img/work_mural-001.jpg" class="rounded" alt="wall murals | front view!">
						</div> <!-- /col -->
					</div> <!-- /row -->
					<div class="row">
						<div class="col-12 col-sm mb-4 mb-md-5">
							<img src="img/work_mural-002.jpg" class="rounded" alt="wall murals | global view!">
						</div> <!-- /col -->
						<div class="col-12 col-sm mb-4 mb-md-5">
							<img src="img/work_mural-004.jpg" class="rounded" alt="wall murals | closeup!">
						</div> <!-- /col -->
					</div> <!-- /row -->
				</div><!-- /wall-murals -->

				<hr>

				<div id="more" class="work-section">
					<div class="row">
						<div class="col-12 col-sm-8 mx-auto mb-4 mb-md-5">
							<img src="img/work_bitsnbobs-001.jpg" class="rounded" alt="more | a phone case with a cat eating a burger, that says 'OH DEAR'">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-sm-7 mb-4 mb-md-5">
							<img src="img/work_bitsnbobs-009.gif" alt="more | a shirt with a cat who says 'YO!'">
						</div> <!-- /col -->
						<div class="col-12 col-sm mb-4 mb-md-5">
							<img src="img/work_bitsnbobs-008.jpg" class="rounded" alt="more | a bag with a cat who says 'YO!'">
						</div> <!-- /col -->
					</div> <!-- /row -->
				</div> <!-- /more -->
			</div> <!-- /col -->
		</div> <!-- /row -->
	</div> <!-- /container -->
</section>

<hr>