<section>
	<div class="container-fluid">
		<div>
			<div class="vl sr-down"></div>
			<div class="row">
				<div class="col-12 col-lg-9 col-xl-7 mx-auto text-center px-0">
					<h2 class="mt-0 mb-1 cd-headline letters scale">{{ .Site.Title }} crafts <span class="text-secondary">unique&nbsp;visuals</span> <br>that <span class="text-primary">tell your&nbsp;story</span> in an engaging, fun, and relatable way.
					</h2>
				</div> <!-- /col -->
			</div> <!-- /row -->
			<div class="vl sr-down"></div>
		</div>
	</div> <!-- /container -->
</section>