<section>
	<div class="container-fluid">
		<div>
			<div class="vl sr-down"></div>
			<div class="row">
				<div class="col-12 col-lg-9 col-xl-7 mx-auto text-center px-0">
					<h2 class="mt-0 mb-1 cd-headline letters scale">{{ .Site.Title }} is an illustration studio specialising in 
						<span class="cd-words-wrapper">
							<b class="text-secondary is-visible">fun & happy</b>
							<b class="text-primary">handmade</b>
							<b class="text-tertiary">off-beat</b>
						</span> artwork
					</h2>
				</div> <!-- /col -->
			</div> <!-- /row -->
			<div class="vl sr-down"></div>
		</div>
	</div> <!-- /container -->
</section>