<form id="contact-form" name="contact" method="POST" data-netlify="true" action="/contact/thank-you/">
	<div class="row">
		<div class="col-12 col-md-6">
			<p>
				<label for="name" class="form-label">Your Name:</label>
				<input id="name" name="name" type="text" placeholder=" " />
			</p>
		</div> <!-- /col -->
		<div class="col-12 col-md-6">
			<p>
				<label for="email" class="form-label">Your Email:</label>
				<input id="email" name="email" type="email" placeholder=" " />
			</p>
		</div> <!-- /col -->
	</div> <!-- /row -->


	<div class="row">
		<div class="col-12">
			<p class="form-label mb-0">I'm interested in...</p>
			<!-- <p>You can check as many options as you want.</p> -->
		
			<ul class="ks-cboxtags">
				<li>
					<input type="checkbox" id="digital-illustrations" name="digital-illustrations">
					<label for="digital-illustrations">Digital illustrations</label>
				</li>
				<li>
					<input type="checkbox" id="paper-stuff" name="paper-stuff">
					<label for="paper-stuff">Paper stuff</label>
				</li>
				<li>
					<input type="checkbox" id="wall-murals" name="wall-murals">
					<label for="wall-murals">Wall murals</label>
				</li>
				<li>
					<input type="checkbox" id="art-direction" name="art-direction">
					<label for="art-direction">Art direction</label>
				</li>
				<li>
					<input type="checkbox" id="photoshoot" name="photoshoot">
					<label for="photoshoot">Photoshoot</label>
				</li>
				<li>
					<input type="checkbox" id="other" name="other">
					<label for="other">Other</label>
				</li>
			</ul>

		</div> <!-- /col -->
	</div> <!-- /row -->

	<div class="row">
		<div class="col-12">
			<p>
				<label for="message" class="form-label">Message:</label>
				<textarea id="message" name="message" placeholder="Heya! I have a question about..."></textarea>
			</p>
			<p>
				<button class="btn" type="submit">Submit your message! <svg width="16" height="11" class="ml2 icon" viewBox="0 0 282 201" xmlns="http://www.w3.org/2000/svg"><path d="M171.07 24.652C165.368 18.9501 165.368 9.9735 171.07 4.2716C176.772 -1.23767 185.748 -1.23767 191.45 4.2716L276.863 89.6717C279.509 92.3172 281.14 95.99 281.14 100.061C281.14 104.132 279.509 107.805 276.863 110.463L191.45 195.863C185.748 201.565 176.772 201.565 171.07 195.863C165.368 190.161 165.368 181.185 171.07 175.483L232.224 114.534L15.1279 114.534C7.17867 114.547 0.860348 108.023 0.860347 100.074C0.860347 92.1246 7.17867 85.8062 15.1279 85.8062L232.211 85.8062L171.07 24.652Z" fill="#ffffff"/></svg></button>
			</p>
		</div> <!-- /col -->
	</div> <!-- /row -->
</form>