<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{{- $title := print .Title " | " .Site.Title -}}
	{{- if .IsHome -}}
	{{- $title = print .Site.Title " | Creative artwork" -}}
	{{ end }}
	<title>{{ $title }}</title>

	<meta name="title" content="{{ $title }}">
	<meta name="description" content="{{ .Site.Params.metadescription }}">
	<meta name="robots" content="noindex">

	<meta property="og:type" content="website">
	<meta property="og:url" content="{{"" | absURL }}">
	<meta property="og:title" content="{{ $title }}">
	<meta property="og:description" content="{{ .Site.Params.metadescription }}">
	<meta property="og:image" content="{{"img/lemonstudio_1200x627.jpg" | absURL }}">

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{{"" | absURL }}">
	<meta property="twitter:title" content="{{ $title }}">
	<meta property="twitter:description" content="{{ .Site.Params.metadescription }}">
	<meta property="twitter:image" content="{{"img/lemonstudio_1200x627.jpg" | absURL }}">

	<script async src="https://www.googletagmanager.com/gtag/js?id=G-9Y5D3KK1T6"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-9Y5D3KK1T6');
	</script>

	<!-- <link rel="preload" href="/css/fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin> -->
	<link rel="stylesheet" href="{{"css/main.css" | absURL }}">

	<!-- <script src="/js/scrollreveal.js"></script> -->
	<!-- <script>
		ScrollReveal({ reset: true });
	</script> -->

	<!-- loco -->
<!-- 	<link rel="stylesheet" type="text/css" href="css/base.css" />
	<link rel="stylesheet" type="text/css" href="css/demo4.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script>
	document.documentElement.className = "js";
	var supportsCssVars = function() { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e };
	supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
	</script> -->

	<link rel="icon" href="/favicon.png" sizes="16x16 32x32" type="image/png">
</head>