<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{{- $title := print .Title " | " .Site.Title -}}
	{{- if .IsHome -}}
	{{- $title = print .Site.Title " | Illustration & Creative artwork" -}}
	{{ end }}
	<title>{{ $title }}</title>

	<meta name="title" content="{{ $title }}">
	<meta name="description" content="{{ .Site.Params.metadescription }}">
	<meta name="robots" content="noindex">

	<meta property="og:type" content="website">
	<meta property="og:url" content="{{"" | absURL }}">
	<meta property="og:title" content="{{ $title }}">
	<meta property="og:description" content="{{ .Site.Params.metadescription }}">
	<meta property="og:image" content="{{"img/lemonstudio_1200x627.jpg" | absURL }}">

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{{"" | absURL }}">
	<meta property="twitter:title" content="{{ $title }}">
	<meta property="twitter:description" content="{{ .Site.Params.metadescription }}">
	<meta property="twitter:image" content="{{"img/lemonstudio_1200x627.jpg" | absURL }}">

	<script async src="https://www.googletagmanager.com/gtag/js?id=G-9Y5D3KK1T6"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-9Y5D3KK1T6');
	</script>

	<link rel="stylesheet" href="{{"css/main.min.css" | absURL }}">
	<link rel="icon" href="/favicon.png" sizes="16x16 32x32" type="image/png">
	<!-- <script src="/js/scrollreveal.js"></script> -->
	<!-- <script>
		ScrollReveal({ reset: true });
	</script> -->
</head>