<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{{- $title := print .Title " | " .Site.Title -}}
	{{- if .IsHome -}}
	{{- $title = print .Site.Title " | Creative artwork" -}}
	{{ end }}
	<title>{{ $title }}</title>
	
	<meta name="title" content="{{ $title }}">
	<meta name="description" content="{{ .Site.Params.metadescription }}">

	<meta property="og:type" content="website">
	<meta property="og:url" content="https://dirtylemon.studio">
	<meta property="og:title" content="{{ $title }}">
	<meta property="og:description" content="{{ .Site.Params.metadescription }}">
	<meta property="og:image" content="/img/lemonstudio_1200x627.jpg">

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://dirtylemon.studio">
	<meta property="twitter:title" content="{{ $title }}">
	<meta property="twitter:description" content="{{ .Site.Params.metadescription }}">
	<meta property="twitter:image" content="/img/lemonstudio_1200x627.jpg">

	<!-- <link rel="preload" href="/css/fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin> -->
	<link rel="stylesheet" href="/css/main.css">

	<!-- <script src="/js/scrollreveal.js"></script> -->
	<script>
		// ScrollReveal({ reset: true });
	</script>

	<link rel="icon" href="/favicon.png" sizes="16x16 32x32" type="image/png">
</head>