<header>
	<div class="row flex-column flex-sm-row no-gutters">
		<div class="col-12 col-md-6 text-center py-5 px-3 d-flex flex-column align-items-center justify-content-center">
			<h2 class="mt-0 mb-1 cd-headline letters scale">{{ .Site.Title }} is a creative studio that makes
				<span class="cd-words-wrapper">
					<b class="text-secondary is-visible">fun & happy</b>
					<b class="text-primary">handmade</b>
					<b class="text-tertiary">off-beat</b>
				</span> illustrations
			</h2>

			<a href="#work" class="text-white"><span class="sr-down">Let's go!</span>&nbsp;<img src="{{ "css/assets/icon_arrow-bottom.svg" | absURL }}" alt=">" class="sr-down" width="12"></a>
		</div> <!-- /col -->

		<div id="grapes" class="col-12 col-md-6 col-lg-6 text-center sr-down">
			{{- $image := resources.Get "img/grapes.png" -}}
			<picture>
				<source srcset="{{ $image.Permalink | absURL }}" type="image/png">
				<img src="{{ $image.Permalink | absURL }}" alt="{{ .Params.title }}" width="700">
			</picture>
		</div> <!-- /col -->
	</div> <!-- /row -->
</header>
<div class="bg_dark" style='-webkit-mask: url({{ "css/assets/bgbottom.png" | absURL  }}); -webkit-mask-repeat: repeat-x; -webkit-mask-size: cover;-webkit-mask-position: bottom center; height: 100px;'></div>