<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-lg-5 d-flex flex-column">
				<h1 class="srSlipeUp delay-1" style="margin-top: 3em; margin-bottom: 3em;">Something about <span class="text-warning">standing&nbsp;out</span> and <span class="text-primary">something&nbsp;else</span> and the sentence gets longer and longer.</h1>
				<a href="#" class="text-white mt-5" style="margin-bottom: auto;"><span class="bd-b">Read more</span> <img src="/img/icon_arrow-bottom.svg" width="12"></a>
			</div>  <!-- /col -->
			
			<div class="col-12 col-lg-7 text-center">
				<picture>
					<img src="/img/grapes.png" alt="{{ .Params.title }}" width="700" class="srSlideUp delay-1">
				</picture>
			</div> <!-- /col -->
		</div> <!-- /row -->
	</div> <!-- /container -->
</header>