<section class="lemon">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-7 d-flex justify-content-center flex-column mb-4">
				<h3 class="sr-down">Bonus!</h3>
				<p class="sr-down">
					You made it to the bottom of this page.	Yay!<br>
					Here's a little thank you thing.
				</p>
			</div> <!-- /col -->			
		</div> <!-- /row -->

		<div class="row">
			<div class="col-12 col-md-6 col-lg-5 d-flex justify-content-center flex-column mb-4">
				<div class="overlay sr-down">
					<div>
						<p>
							Coming (very) soon!<br>
							It's gonna be great.
						</p>
					</div>
					<img src="/img/lemon_banner.jpg" class="rounded" alt="Lemon | {{ .Site.Title }}">
				</div>
			</div> <!-- /col -->			

			<div class="col-12 col-md-6 col-lg-7 mx-auto center">
				<div id="lemon">
					<figure>
						<div>
							<img src="{{ "img/txt-circle.svg" | absURL }}" width="100" height="100" class="txt-circle" alt="{{ .Site.Title }}">
						</div>
						<picture>
							<source srcset="{{ "img/lemon.webp" | absURL }}" type="image/webp">
							<source srcset="{{ "img/lemon.png" | absURL }}" type="image/png">
							<img src="/{{ "img/lemon.png" | absURL }}" width="470" alt="{{ .Site.Title }}">
						</picture>
					</figure>
				</div>
			</div> <!-- /col -->
		</div> <!-- /row -->
	</div> <!-- /container -->
</section>