<section class="lemon">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-5 d-flex justify-content-center flex-column p-5">
				<div class="overlay">
					<div>
						Coming soon!
					</div>
					<img src="/img/lemon_banner.jpg" class="rounded" alt="">
				</div>
			</div> <!-- /col -->			

			<div class="col-12 col-lg-7 mx-auto center">
				<div id="lemon">
					<figure>
						<div>
							<img src="{{ "img/txt-circle.svg" | absURL }}" width="100" height="100" class="txt-circle" alt="{{ .Site.Title }}">
						</div>
						<picture>
							<source srcset="{{ "img/lemon.webp" | absURL }}" type="image/webp">
							<source srcset="{{ "img/lemon.png" | absURL }}" type="image/png">
							<img src="/{{ "img/lemon.png" | absURL }}" width="470" alt="{{ .Site.Title }}">
						</picture>
					</figure>
				</div>
			</div> <!-- /col -->
		</div> <!-- /row -->
	</div> <!-- /container -->
</section>