<nav>
	<div class="container-fluid navigation">
		{{- if .Site.Menus.main -}}
		<div id="menu-desktop" class="d-md-flex justify-content-between align-items-center">
			<div class="menu-desktop_logo">
				<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
			</div>

			<div class="btn-contact">
				{{- $current := . -}}
				{{- range .Site.Menus.main -}}
					{{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
					{{- $active = or $active (eq .Name $current.Title) -}}
					{{- $active = or $active (and (eq .Name "Work") (eq $current.Section "work")) -}}
					<a href="{{ .URL }}">{{ .Name }}</a>
				{{- end -}}
			</div>
		</div> <!-- /#menu-desktop -->
		{{- end -}}
	</div>
</nav>