{{ $pages := (shuffle (where (where .Site.RegularPages "Section" "work") "Title" "!=" .Title )) }}
<div id="related">
	<h4 class="srSlideUp text-center my-3 my-md-5">Oh! Lots of other projects.</h4>
	<div class="slider">
		<div class="swiper-wrapper">
			{{ range $pages }}
			<div class="swiper-slide">
				<div class="card text-center">
					<div class="card-body p-2 p-md-3">
					<a href="{{ .Permalink }}" class="stretched-link">{{ .Title }}</a>
					</div>
					<img src="{{ with .Params.thumbnail_picture }}{{ . }}{{ end }}" class="card-img-bottom w-100" width="200" alt="{{ index .Params "thumbnail_description" }}">
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</div>