<div>
	<p class="icon-lemon d-none">
		<a href="{{ .Site.BaseURL }}"><img src="/img/001-lemon.png" alt="Dirty Lemon studio" width="30"></a>
	</p>




<nav id="nav" class="nav" role="navigation" style="color: white !important;">
	<ul class="nav__menu" id="menu" tabindex="-1" aria-label="main navigation" hidden>
		<li class="nav__item"><a href="#" class="nav__link">Home</a></li>
		<li class="nav__item"><a href="#" class="nav__link">Shop</a></li>
		<li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
		<li class="nav__item"><a href="#" class="nav__link">About</a></li>
		<li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
	</ul>

	<!-- MENU TOGGLE BUTTON -->
	<a href="#nav" class="nav__toggle lemon2" role="button" aria-expanded="false" aria-controls="menu">
		<img src="/img/001-lemon.png" class="menuicon" alt="Dirty Lemon studio" width="30">
	</a>

	<!-- ANIMATED BACKGROUND ELEMENT -->
	<div class="splash"></div>
</nav>




<script>
const nav = document.querySelector('#nav');
const menu = document.querySelector('#menu');
const menuToggle = document.querySelector('.nav__toggle');
let isMenuOpen = false;


// TOGGLE MENU ACTIVE STATE
menuToggle.addEventListener('click', e => {
  e.preventDefault();
  isMenuOpen = !isMenuOpen;
  
  // toggle a11y attributes and active class
  menuToggle.setAttribute('aria-expanded', String(isMenuOpen));
  menu.hidden = !isMenuOpen;
  nav.classList.toggle('nav--open');
});


// TRAP TAB INSIDE NAV WHEN OPEN
nav.addEventListener('keydown', e => {
  // abort if menu isn't open or modifier keys are pressed
  if (!isMenuOpen || e.ctrlKey || e.metaKey || e.altKey) {
    return;
  }
  
  // listen for tab press and move focus
  // if we're on either end of the navigation
  const menuLinks = menu.querySelectorAll('.nav__link');
  if (e.keyCode === 9) {
    if (e.shiftKey) {
      if (document.activeElement === menuLinks[0]) {
        menuToggle.focus();
        e.preventDefault();
      }
    } else if (document.activeElement === menuToggle) {
      menuLinks[0].focus();
      e.preventDefault();
    }
  }
});

</script>





	<nav>
		
		

		<div class="menu_all d-none">
			<div class="menu_csat">
				<a href="{{ .Site.BaseURL }}" class="menu_logo"><span class="h4">{{ .Site.Title }} studio</span></a>

				{{ with .Site.GetPage "section" }}
				{{ range .Pages }}
				<a href="{{.Permalink}}" class="nav-link"><span>{{.Title}}</span></a>
				{{ end }}
				{{ end }}

				<img src="/img/totem_1.png" width="250" class="mx-auto d-none d-sm-block my-3" alt="{{ .Site.Title }} studio<">

				<div class="menu_contact">
					<a href="/get-in-touch/"><span>Get in touch</span> <svg width="16" height="11" class="ml2 icon" viewBox="0 0 282 201" xmlns="http://www.w3.org/2000/svg"><path d="M171.07 24.652C165.368 18.9501 165.368 9.9735 171.07 4.2716C176.772 -1.23767 185.748 -1.23767 191.45 4.2716L276.863 89.6717C279.509 92.3172 281.14 95.99 281.14 100.061C281.14 104.132 279.509 107.805 276.863 110.463L191.45 195.863C185.748 201.565 176.772 201.565 171.07 195.863C165.368 190.161 165.368 181.185 171.07 175.483L232.224 114.534L15.1279 114.534C7.17867 114.547 0.860348 108.023 0.860347 100.074C0.860347 92.1246 7.17867 85.8062 15.1279 85.8062L232.211 85.8062L171.07 24.652Z" fill="#fff"/></svg></a>
				</div>
			</div>
		</div>
	</nav>

	<p id="logo">
		<a href="{{ .Site.BaseURL }}" class="text-white">{{ .Site.Title }} Studio</a>
	</p>
</div>