<section id="work" class="py-5">
	<div class="container-fluid">
		<div class="row mt-5">
			<div class="gallery-block col-12">
				<div>
					<a href="{{"work/illustration/by-the-lake" | absURL }}">By The Lake</a>
				</div>
				<a href="{{"work/illustration/by-the-lake" | absURL }}"><img src="{{"work/illustration/by-the-lake/thumbnail_by-the-lake.jpg" | absURL }}" alt="By The Lake | {{ .Site.Title }}" class="gallery-image d-block d-sm-none"><img src="{{"work/illustration/by-the-lake/thumbnail-desktop_by-the-lake.jpg" | absURL }}" alt="By The Lake | Dirty Lemon Studio" class="gallery-image d-none d-sm-block"></a>
			</div>
		</div> <!-- /row -->

		<div id="gallery" class="row mt-0">
			{{- $mainpage := .Site.GetPage "section" "work" -}}
			{{- range ($mainpage.Pages.GroupByParam "mainpage") -}}
			{{- if eq .Key true -}}
			{{- range .Pages -}}
			<div class="gallery-block col-12 col-md-6">
				<div>
					<a href="{{.RelPermalink}}">{{ .Title }}</a>
				</div>
				<a href="{{.Permalink}}">
				{{- $image := .Resources.GetMatch "thumbnail_*" -}}
				{{- with $image -}}
				<img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ .Title }} | Dirty Lemon Studio" class="gallery-image">
				{{- end -}}
				</a>
			</div>
			{{- end -}}
			{{- end -}}
			{{- end -}}
		</div> <!-- /row -->

		<div class="row mb-5">
			<div class="gallery-block col-12">
				<div>
					<a href="{{"work/illustration/all-the-lives-we-ever-lived" | absURL }}">All The Lives We Ever Lived</a>
				</div>
				<a href="{{"work/illustration/all-the-lives-we-ever-lived" | absURL }}"><img src="{{"work/illustration/all-the-lives-we-ever-lived/thumbnail_all-the-lives.jpg" | absURL }}" alt="All The Lives We Ever Lived | {{ .Site.Title }}" class="gallery-image d-block d-md-none"><img src="{{"work/illustration/all-the-lives-we-ever-lived/thumbnail-desktop_all-the-lives.jpg" | absURL }}" alt="All The Lives We Ever Lived | Dirty Lemon Studio" class="gallery-image d-none d-md-block"></a>
			</div>
		</div> <!-- /row -->
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-lg-6 mb-2 mb-md-5 mx-auto">
				<div class="gallery-block sr-down">
					<img src="{{"/work/illustration/fruit-feast/illustration_fruit-feast-02.png" | absURL }}" alt="Dirty Lemon Studio" class="gallery-image">
				</div>
			</div>
		</div>
	</div>
</section> <!-- #work -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->