<section id="work" class="py-5">
	<div class="container-fluid">
		<div class="gallery-block">
			<div>
				<a href="{{"work/illustration/by-the-lake" | absURL }}">By The Lake</a>
			</div>
			<a href="{{"work/illustration/by-the-lake" | absURL }}"><img src="{{"img/work/illustrations/illustration_001.jpg" | absURL }}" alt="" class="gallery-image"></a>
		</div>

		<div id="gallery">
			{{ with .Site.GetPage "work" }}
			{{ range .Pages }}

				{{ if isset .Params "thumbnail" }}
				<div class="gallery-block">
					<div>
						<a href="{{.Permalink}}">{{.Title}}</a>
					</div>
					<a href="{{.Permalink}}"><img src="{{"/img/work/" | absURL }}{{ range .Params.thumbnail }}{{.}}{{end}}" alt="{{.Title}}" class="gallery-image"></a>
				</div>
				{{ end }}
			{{ end }}
			{{ end }}
		</div>
	</div>

	<div class="container-fluid">
		<div class="row my-5">
			<div class="col-12 col-lg-8 mb-2 mb-md-5 mx-auto">
				<div class="gallery-block sr-down">
					<img src="{{"img/work/illustrations/illustration_027.png" | absURL }}" alt="" class="gallery-image">
				</div>
			</div>
		</div>
	</div>
</section> <!-- #work -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/macy@2"></script>

<script type="text/javascript">
var macy = Macy({
	container: '#gallery',
	trueOrder: true,
	waitForImages: true,
	margin: 30,
	columns: 3,
	breakAt: {
		940: 2,
		520: 1,
		400: 1
	}
});
</script>