<section id="work" class="work">
	<div class="container-fluid">
		<h2 class="mb-4 sr-down">This title <br>has to be quite cool</h2>
	</div>
		
		<div id="submenu" class="spyscroll sr-down navbar d-md-none d-flex flex-md-column justify-content-between">
			<a href="#paper-art" class="nav-link">paper</a>
			<a href="#illustration" class="nav-link">illustration</a>
			<a href="#wall-murals" class="nav-link">murals</a>
		</div>

	<div class="container-fluid">
		<div class="row">
			<div class="spyscroll col-12 col-md-3 d-flex justify-content-between flex-column">
				<div id="submenu-md" class="navbar d-none d-md-flex flex-md-column justify-content-between">
					<a href="#paper-art" class="nav-link">paper art</a>
					<a href="#illustration" class="nav-link">illustration</a>
					<a href="#wall-murals" class="nav-link">wall murals</a>
					<a href="#misc" class="nav-link">more</a>
				</div>
			</div> <!-- /col -->
			<div class="col-12 col-md-9">
				<div id="paper-art" class="work-section">
					<div class="row">
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="img/work_paper-022.jpg" class="rounded" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-md-8 mb-4 mb-md-5">
							<img src="img/work_paper-001.jpg" class="rounded" alt="">
						</div> <!-- /col -->
						<div class="col-12 col-md-4 mb-4 mb-md-5">
							<img src="img/work_paper-002.jpg" class="rounded" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="img/work_paper-004.jpg" class="rounded" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="img/work_paper-006.jpg" class="rounded" alt="">
						</div> <!-- /col -->
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="img/work_paper-016.jpg" class="rounded" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="img/work_paper-017.jpg" class="rounded" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->
				</div>

				<hr>

				<div id="illustration" class="work-section">
					<div class="row">
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="img/work_illustration-019.png" class="w-md-75 d-block mx-auto" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="img/work_illustration-021.jpg" class="w-md-75 d-block mx-auto" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="img/work_illustration-002.png" class="rounded" alt="">
						</div> <!-- /col -->
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="img/work_illustration-016.png" class="rounded" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="/img/work_illustration-013.png" class="w-md-75 d-block mx-auto" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="img/work_illustration-004.jpg" class="rounded" alt="">
						</div> <!-- /col -->
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="/img/work_illustration-010.jpg" class="w-md-75 d-block mx-auto" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="/img/work_bitsnbobs-010.jpg" class="w-md-75 d-block mx-auto" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="/img/work_illustration-020.png" class="rounded" alt="">
						</div> <!-- /col -->
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="/img/work_illustration-001.png" class="rounded" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->

					<div class="row">
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="/img/work_illustration-003.png" class="w-md-75 d-block mx-auto" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->
				</div>

				<hr>

				<div id="wall-murals" class="work-section">
					<div class="row">
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="img/work_mural-001.jpg" class="rounded" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->
					<div class="row">
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="img/work_mural-002.jpg" class="rounded" alt="">
						</div> <!-- /col -->
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="img/work_mural-004.jpg" class="rounded" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->
				</div>

				<hr>

				<div id="misc" class="work-section">
					<div class="row">
						<div class="col-12 col-md-8 mx-auto mb-4 mb-md-5">
							<img src="img/work_bitsnbobs-001.jpg" class="rounded" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->
					<div class="row">
						<div class="col-12 col-md-7 mb-4 mb-md-5">
							<img src="img/work_bitsnbobs-009.gif" alt="">
						</div> <!-- /col -->
						<div class="col-12 col-md mb-4 mb-md-5">
							<img src="img/work_bitsnbobs-008.jpg" class="rounded" alt="">
						</div> <!-- /col -->
					</div> <!-- /row -->
				</div>
			</div> <!-- /col -->
		</div> <!-- /row -->
	</div> <!-- /container -->
</section>