#contact-form
	.row
		@extend .mb-4
	.form-label
		font-weight: bolder
		@extend .pb-2
		display: block
		// font-size: $font-size-base * 1.4
	label
		width: 100%
	input
		height: 3.4rem
		@include media-breakpoint-up(md)
			height: 3.8rem
		&[type=checkbox]:hover
			cursor: pointer
	textarea
		min-height: 8rem
		resize: vertical
	input,
	textarea
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		box-shadow: none
		width: 100%
		background: transparent
		border: 3px solid $dark
		border-radius: 6px
		color: $dark
		padding: 1em
		&::selection
			color: $white
			background: $primary
		&:focus
			outline: none
			background-color: $dark
			border-color: $dark
			color: $secondary
			&::placeholder
				color: $dark
		&:invalid
			outline: none
			box-shadow: none
			border-color: red
		&::placeholder
			color: #625341
			font-style: italic
	button
		border: none
		background-color: $dark
		color: $white
		svg
			width: 16px
			height: 11px
			margin-left: 3px
			@extend .transition-2s
		&:focus,
		&:hover,
		&:active
			background-color: $dark
			svg
				transform: translate(5px, 0)
	ul
		&.ks-cboxtags
			list-style: none
			li
				display: inline-block
				input[type="checkbox"]:checked
					& + label
						border: 3px solid $dark
						background-color: $dark
						color: $white
						transition: all .2s
						&::before
							// content: "\f00c"
							content: ''
							background-image: url('assets/icon_check-1.svg')
							transform: rotate(-360deg)
							transition: transform .3s ease-in-out
				input[type="checkbox"]:focus
					& + label
						border: 2px solid #e9a1ff
				label
					display: inline-block
					background-color: none
					border: 3px solid $dark !important
					color: $dark
					border-radius: 25px
					white-space: nowrap
					margin: 5px 0px
					-webkit-touch-callout: none
					-webkit-user-select: none
					-moz-user-select: none
					-ms-user-select: none
					user-select: none
					-webkit-tap-highlight-color: transparent
					transition: all .2s
					padding: 8px 14px
					cursor: pointer
					&::before
						display: inline-block
						background-image: url('assets/icon_plus.svg')
						padding: 2px 6px 2px 2px
						content: ''
						margin-right: 10px
						background-repeat: no-repeat
						background-size: cover
						width: 14px
						height: 14px
						transition: transform .3s ease-in-out
				input[type="checkbox"]
					display: absolute
					position: absolute
					opacity: 0