{{-  define "main" -}}
<header class="mt-O bg_dark">
	<div class="container">
		<div class="hero_large">
			{{- $image := .Resources.GetMatch "project-title_*" -}}
			{{- with $image -}}
			<div class="row">
				<div class="col-12 col-sm-8 col-md-6 mx-auto text-center">
					<img src="{{ .Permalink | absURL }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $.Params.Title }}">
				</div>
			</div>
			{{- else -}}
			<h2 class="text-center mx-auto">{{ (replace .Params.title "\n" "<br>") | safeHTML }}</h2>
			{{- end -}}
		</div>
	</div> <!-- /container -->
</header>

{{- if isset .Params "block_project" -}}
<section id="work"{{ if isset .Params.block_project "bgcolor" }} style="background-color: {{ .Params.block_project.bgcolor }}"{{ else }} style="background-color: #f1f1f7;"{{ end }}>
	<div class="container-fluid">
		{{- if isset .Params.block_project "description" -}}
		<div class="row">
			<div class="col-12 col-md-8 col-lg-6 mx-auto mb-5">
				<p class="description text-center"{{ if isset .Params.block_project "fontcolor" }} style="color: {{ .Params.block_project.fontcolor }}"{{ end }}>
				{{- (replace .Params.block_project.description "\n" "<br>") | safeHTML -}}
				</p>
			</div>
		</div>
		{{- end -}}

		<div class="row">
			{{- $title := print .Page.Title " | " .Site.Title -}}
			{{- range .Params.block_project.work -}}

			{{- if .text -}}
			<div {{ if .class }}class="{{ .class }}"{{ else }}class="col-12 col-md-10 col-lg-8 col-xl-6 col-xxl-4 offset-lg-1 offset-xl-2 offset-xxl-3 pt-5 mt-5 mb-5 pb-5"{{ end }}{{ if .id }} id="{{ .id }}"{{ end }}>
				{{- if .title -}}
				<h3 class="display-4 fw-medium mb-4">{{ (replace .title "\n" "<br>") | safeHTML }}</h3>
				{{- end -}}
		
				{{- if .text -}}
				<p class="work_single_text fs-5">
					{{ (replace .content "\n" "<br>") | safeHTML }}
				</p>
				{{- end -}}
		
				{{- if .list -}}
				<div class="work_single_list fs-5">
					<ul class="arrow">
						{{- range .list -}}
						<li>
							<p>{{ . }}</p>
						</li>
						{{- end -}}
					</ul>
				</div>
				{{- end -}}
				
				{{- if .link -}}
				<div class="work_single_link">
					<p class="mb-1">Come have a look!</p>
					{{- $image := resources.Get "css/assets/icon_open-new-window.svg" -}}
					<a href="{{.src}}" target="_blank" class="link_new-window stretched-link"><span class="me-2">{{ .text }}</span></a>
				</div>
				{{- end -}}
			</div> <!-- /col -->
		
			 <!-- this is a fix, to make sure the text column takes up the whole width if it doesn't have a class -->
			{{- if .class -}}
			{{- else -}}
			<div class="d-none d-sm-block col-xl-4">
				&nbsp;
			</div> <!-- /col -->
			{{- end -}}
				
			{{- else if .gallery -}}
			{{- if .images -}}
			{{ $imagescount := .images }}
			<div class="col-12 col-xl-10 mx-auto mb-5">
				<div class="container-fluid row"{{ if .id }} id="{{ .id }}"{{ end }}>
					{{- range .images -}}
					{{- if .src -}}
					<div class="col-6 col-md-{{if (eq (len $imagescount) 2)}}6{{else if (eq (len $imagescount) 3)}}4{{else if (eq (len $imagescount) 4)}}3{{else}}12{{end}} prout">
						<img src="{{ $.Permalink | absURL  }}{{.src}}" class="mb-5" alt="{{ $title }}">
					</div> <!-- /col -->
					{{- end -}}
					{{- end -}}
				</div> <!-- /row -->
			</div> <!-- /col -->
			{{- end -}}
	
			{{- else -}}
			{{- $image := .Resources.GetMatch "block_project" "work" -}}
			<div class="{{ .class }} mx-auto mb-4 mb-md-5">
				<img src="{{ $.Permalink | absURL  }}{{.src}}" class="mb-5" alt="{{ $title }}"{{ if .id }} id="{{ .id }}"{{ end }}>
			</div>
			{{- end -}}
			{{- end -}}
		</div> <!-- /row -->
	</div> <!-- /container -->
</section>
<div class="bg_dark" style='-webkit-mask: url({{ "css/assets/bgbottom.png" | absURL  }}); -webkit-mask-repeat: repeat-x; -webkit-mask-size: cover;-webkit-mask-position: bottom center; height: 100px;{{ if isset .Params.block_project "bgcolor" }} background-color: {{ .Params.block_project.bgcolor }}{{ else }} background-color: #f1f1f7;{{ end }}'></div>

{{- end -}}

{{- partial "work/related-projects.html" . -}}

{{- end -}}